%==== PACKAGES AND DOCUMENT SETTINGS ====%

\documentclass{cvtemplate} % Use the updated custom class
\usepackage[left=0.25in,top=0.25in,right=0.25in,bottom=0.25in]{geometry}
\usepackage[T1]{fontenc}
\usepackage{lmodern}
\usepackage{xcolor}
\usepackage{fontawesome}
\usepackage{textcomp}
\usepackage{hyperref}

%==== Custom Colors for Hyperlinks ====%

\definecolor{myblue}{RGB}{0, 164, 218}
\hypersetup{
    colorlinks=true,
    linkcolor=myblue,
    citecolor=myblue,
    urlcolor=myblue
}

%==== HEADER DETAILS ====%

\setname{\VAR{personal.name}} % Set candidate's full name

\contactinfo{
\BLOCK{ if personal.phone }{\faPhone} \href{tel:\VAR{personal.phone}}{\VAR{personal.phone.replace(' ','')}} \quad \BLOCK{ endif }
\BLOCK{ if personal.email }{\faEnvelope} \href{mailto:\VAR{personal.email}}{\VAR{personal.email}} \quad \BLOCK{ endif }
\BLOCK{ if personal.github }{\faGithub} \href{\VAR{personal.github}}{\VAR{personal.github}} \quad \BLOCK{ endif }
\BLOCK{ if personal.linkedin }{\faLinkedin} \href{\VAR{personal.linkedin}}{\VAR{personal.linkedin}} \BLOCK{ endif }
}

\begin{document}

%==== WORK EXPERIENCE ====%

\BLOCK{ if work_experience }
    \begin{Section}{Work Experience}
        \BLOCK{ for exp in work_experience }
            \begin{Experience}
                {\VAR{exp.company}}
                {\BLOCK{ if exp.from_date }\VAR{exp.from_date} -\BLOCK{ endif } \BLOCK{ if exp.to_date }\VAR{exp.to_date}\BLOCK{ endif }}
                {\VAR{exp.role}}
                {\VAR{exp.location}}
                \BLOCK{ for point in exp.description }
                    \item \VAR{point}
                \BLOCK{ endfor }
            \end{Experience}
        \BLOCK{ endfor }
    \end{Section}
\BLOCK{ endif }

%==== EDUCATION ====%

\BLOCK{ if education }
\begin{Section}{Education}
    \BLOCK{ for school in education }
        \BLOCK{ if school.university }
            \textbf{\VAR{school.university}} \hfill {\VAR{school.from_date} - \VAR{school.to_date}} \\
            \BLOCK{ if school.degree }{\VAR{school.degree}}\BLOCK{ endif }
            \BLOCK{ if school.grade }\hfill (GPA: \VAR{school.grade})\BLOCK{ endif }\\
            \BLOCK{ if school.coursework }
                \textbf{\textit{Relevant Courses:}} \textit{\VAR{', '.join(school.coursework)}}
            \BLOCK{ endif }
        \BLOCK{ endif }
    \BLOCK{ endfor }
\end{Section}
\BLOCK{ endif }

%==== PROJECTS ====%

\BLOCK{ if projects }
    \begin{Section}{Projects}
        \BLOCK{ for project in projects}
            \begin{Experience}
                \BLOCK{ if project.link}
                    {\href{\VAR{project.link}}{\VAR{project.name}}}
                \BLOCK{else}
                    {\VAR{project.name}}
                \BLOCK{ endif }
                {\VAR{project.from_date} - \VAR{project.to_date}}{}{}
                \BLOCK{ for point in project.description}
                    \item \VAR{point}
                \BLOCK{ endfor }
            \end{Experience}
        \BLOCK{ endfor }
    \end{Section}
\BLOCK{ endif }

%==== TECHNICAL SKILLS ====%

\BLOCK{ if skill_section }
    \begin{Section}{Technical Skills}
        \begin{tabular}{@{} l @{\hspace{1ex}} l }
            \BLOCK{ for section in skill_section }
                \textbf{\VAR{section.name}}: \VAR{', '.join(section.skills)} \\
            \BLOCK{ endfor }
            \BLOCK{ if certifications }
                \textbf{Certifications:}
                \BLOCK{ for certification in certifications }
                    \href{\VAR{certification.link}}{\textbf{\VAR{certification.name}}},\\
                \BLOCK{ endfor }
            \BLOCK{ endif }
        \end{tabular}
    \end{Section}
\BLOCK{ endif }

%==== ACHIEVEMENTS ====%

\BLOCK{ if achievements }
    \begin{Section}{Achievements}
        \begin{AdditionalWork}{}{}
            \BLOCK{ for point in achievements}
                \item \VAR{point}
            \BLOCK{ endfor }
        \end{AdditionalWork}
    \end{Section}
\BLOCK{ endif }

%==== KEYWORDS FOR ATS ====%

\newcommand\myfontsize{\fontsize{0.1pt}{0.1pt}\selectfont} \myfontsize \color{white}
\VAR{keywords}

\end{document}
